<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMD_Assignment_i230796">

        <!-- Startup/Splash screen is now the launcher -->
        <activity
            android:name=".main_startup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".SwitchAccountsActivity"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".LogInActivity"/>
        <activity android:name=".main_feed"/>
        <activity android:name=".search_page"/>
        <activity android:name=".dm_feed"/>
        <activity android:name=".chat_screen"/>
        <activity android:name=".you_notif"/>
        <activity android:name=".following_notif"/>
        <activity android:name="your_profile_screen"/>
        <activity android:name=".story_screen"/>
        <activity android:name=".call_screen"/>
        <activity android:name=".search_tab_internshala"/>
        <activity android:name=".edit_profile_screen"/>




    </application>

</manifest>
